## JPL Mars Space Images - Featured Image

In [27]:
#import Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from selenium import webdriver
from splinter import Browser
import time
import re
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context
import pandas as pd
import pprint
import lxml.html
import lxml.html.clean

In [28]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collection
db = client.mars_db
collection = db.latest_news
db.collection.drop()

In [29]:
# URL to Scrape
news_url = 'https://mars.nasa.gov/news'

# Retrieve page with the requests module
response = requests.get(news_url)

# Create BeautifulSoup object
soup = bs(response.content,'lxml')
first_post = soup.find('div', class_="features").find('div', class_='slide')
news_title = first_post.find('div',class_='content_title').text
news_summary = first_post.find('div', class_= 'rollover_description_inner').text

print(news_title)
print(news_summary)

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance



The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

In [30]:
# first_post = soup.find('div', class_="features").find('div', class_='slide')
# print(first_post.prettify())

In [31]:
news_title = first_post.find('div',class_='content_title').text
news_title

"\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n"

In [32]:
news_summary = first_post.find('div', class_= 'rollover_description_inner').text
news_summary

"\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"

In [33]:
first_post = soup.find('div', class_="features").find('div', class_='slide')
news_title = first_post.find('div', class_='content_title').text
news_summary = first_post.find('div', class_='rollover_description_inner').text
post = {'news_title': news_title,'news_summary': news_summary}
collection.insert_one(post)

In [34]:
# # another way might not work all the time
# soup.find_all('div',class_="content_title")

In [35]:
# # # another way might not work all the time
# results = soup.find_all('div',class_="slide")
# results

In [36]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
# Assign the text to variables that you can reference later.

# Retrieve the parent divs
results = soup.find_all('div',class_='slide')

# loop over results to get article data
for result in results:
    # scrape the article title 
    news_title = result.find('div', class_='content_title').text
    
    # scrape the article paragraph
    news_p = result.find('div', class_='rollover_description_inner').text
       
    # print article data
    print(news_title)
    print(news_p)

    # Dictionary to be inserted into MongoDB
    post = {
        'title': news_title,
        'paragraph': news_p,
    }

    # Insert dictionary into MongoDB as a document
    collection.insert_one(post)

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance



The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.



NASA to Hold Mars 2020 Perseverance Rover Launch Briefing



Learn more about the agency's next Red Planet mission during a live event on June 17.



Alabama High School Student Names NASA's Mars Helicopter



Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.



Mars Helicopter Attached to NASA's Perseverance Rover



The team also fueled the rover's sky crane to get ready for this summer's history-making launch.



NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes



After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.



10.9 Million Names Now Aboard NASA's Perseverance Mars Rover



As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.

In [37]:
db.getCollectionInfo
latest_news = db.latest_news.find()
for item in latest_news:
    print(item)

{'_id': ObjectId('5f04fd693f86a9e26c67d050'), 'title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'paragraph': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f04fd6a3f86a9e26c67d051'), 'title': '\n\nNASA to Hold Mars 2020 Perseverance Rover Launch Briefing\n\n', 'paragraph': "\nLearn more about the agency's next Red Planet mission during a live event on June 17.\n"}
{'_id': ObjectId('5f04fd6a3f86a9e26c67d052'), 'title': "\n\nAlabama High School Student Names NASA's Mars Helicopter\n\n", 'paragraph': "\nVaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.\n"}
{'_id': ObjectId('5f04fd6a3f86a9e26c67d053'), 'title': "\n\nMars Helicopter Attached to NASA's Perseverance Rover\n\n", 'paragraph': "\nThe team also fueled the rover's sky crane to get ready for this summer's history-making launch.\n"}
{'_id': ObjectId('5f04fd6a3f86a9e26c67d054'), 'title': "\n\nNASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes\n\n", 'paragraph': '\nAfter the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.\n'}
{'_id': ObjectId('5f04fd6a3f86a9e26c67d055'), 'title': "\n\n10.9 Million Names Now Aboard NASA's Perseverance Mars Rover\n\n", 'paragraph': "\nAs part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.\n"}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d058'), 'title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'paragraph': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d059'), 'title': '\n\nNASA to Hold Mars 2020 Perseverance Rover Launch Briefing\n\n', 'paragraph': "\nLearn more about the agency's next Red Planet mission during a live event on June 17.\n"}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d05a'), 'title': "\n\nAlabama High School Student Names NASA's Mars Helicopter\n\n", 'paragraph': "\nVaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.\n"}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d05b'), 'title': "\n\nMars Helicopter Attached to NASA's Perseverance Rover\n\n", 'paragraph': "\nThe team also fueled the rover's sky crane to get ready for this summer's history-making launch.\n"}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d05c'), 'title': "\n\nNASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes\n\n", 'paragraph': '\nAfter the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.\n'}
{'_id': ObjectId('5f04fdbb3f86a9e26c67d05d'), 'title': "\n\n10.9 Million Names Now Aboard NASA's Perseverance Mars Rover\n\n", 'paragraph': "\nAs part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.\n"}
{'_id': ObjectId('5f06470c5218d19a557cc6e1'), 'title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'paragraph': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f06470c5218d19a557cc6e2'), 'title': '\n\nNASA to Hold Mars 2020 Perseverance Rover Launch Briefing\n\n', 'paragraph': "\nLearn more about the agency's next Red Planet mission during a live event on June 17.\n"}
{'_id': ObjectId('5f06470c5218d19a557cc6e3'), 'title': "\n\nAlabama High School Student Names NASA's Mars Helicopter\n\n", 'paragraph': "\nVaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.\n"}
{'_id': ObjectId('5f06470c5218d19a557cc6e4'), 'title': "\n\nMars Helicopter Attached to NASA's Perseverance Rover\n\n", 'paragraph': "\nThe team also fueled the rover's sky crane to get ready for this summer's history-making launch.\n"}
{'_id': ObjectId('5f06470c5218d19a557cc6e5'), 'title': "\n\nNASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes\n\n", 'paragraph': '\nAfter the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.\n'}
{'_id': ObjectId('5f06470c5218d19a557cc6e6'), 'title': "\n\n10.9 Million Names Now Aboard NASA's Perseverance Mars Rover\n\n", 'paragraph': "\nAs part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.\n"}
{'_id': ObjectId('5f0650f5308d7684c82b5415'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f0650f5308d7684c82b5416'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f0650f5308d7684c82b5417'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f0650f5308d7684c82b5418'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f0650f5308d7684c82b5419'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f06516f308d7684c82b541a'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f087f219b926552c017c3bb'), 'news_title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'news_summary': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f087f219b926552c017c3bc'), 'title': "\n\nThe Launch Is Approaching for NASA's Next Mars Rover, Perseverance\n\n", 'paragraph': "\nThe Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. \n"}
{'_id': ObjectId('5f087f219b926552c017c3bd'), 'title': '\n\nNASA to Hold Mars 2020 Perseverance Rover Launch Briefing\n\n', 'paragraph': "\nLearn more about the agency's next Red Planet mission during a live event on June 17.\n"}
{'_id': ObjectId('5f087f219b926552c017c3be'), 'title': "\n\nAlabama High School Student Names NASA's Mars Helicopter\n\n", 'paragraph': "\nVaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.\n"}
{'_id': ObjectId('5f087f219b926552c017c3bf'), 'title': "\n\nMars Helicopter Attached to NASA's Perseverance Rover\n\n", 'paragraph': "\nThe team also fueled the rover's sky crane to get ready for this summer's history-making launch.\n"}
{'_id': ObjectId('5f087f219b926552c017c3c0'), 'title': "\n\nNASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes\n\n", 'paragraph': '\nAfter the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.\n'}
{'_id': ObjectId('5f087f219b926552c017c3c1'), 'title': "\n\n10.9 Million Names Now Aboard NASA's Perseverance Mars Rover\n\n", 'paragraph': "\nAs part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.\n"}

In [38]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image 
# and assign the url string to a variable called featured_image_url. 
# Use the full-sized image and save the complete url string
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [39]:
url_element = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_element)

In [40]:
full_image_elem = browser.find_by_id('full_image', wait_time = 1)
full_image_elem.click()

In [41]:
more_info_element = browser.find_link_by_partial_text('more info')
more_info_element.click()

In [42]:
html = browser.html
image_soup = bs(html,"html.parser")
image_url = image_soup.select_one("figure.lede a img").get("src")

In [43]:
mars_image = 'http://www.jpl.nasa.gov' + image_url
mars_image

'http://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18848_hires.jpg'

## Mars Weather

In [44]:
# Visit the Mars Weather twitter account and scrape the latest Mars weather tweet.
# Save the tweet text for the weather report as a variable called mars_weather.
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path)
mars_twitter = 'https://twitter.com/MarsWxReport'
browser.visit(mars_twitter)
# test = browser.find_by_xpath("/html/body/div/div/div/div/main/div/div/div/div/div/div/div/div/div/section/div/div/div/div/div")
# test.click()

In [45]:
html = browser.html
twitter_soup = bs(html,"html.parser")
tweet = twitter_soup.find("div", attrs={"class":"tweet","data-name": "Mars Weather"})

In [46]:
try:
    mars_weather = tweet.find("p", "tweet-text").get_text()
    mars_weather

except AttributeError:

    pattern = re.compile(r'sol')
    mars_weather = twitter_soup.find('span', text=pattern).text
    mars_weather

mars_weather

'InSight sol 566 (2020-06-29) low -88.4ºC (-127.1ºF) high -4.2ºC (24.4ºF)\nwinds from the WNW at 5.1 m/s (11.5 mph) gusting to 16.8 m/s (37.6 mph)\npressure at 7.70 hPa'

## Mars Facts

In [47]:
# Visit Mars Facts: https://space-facts.com/mars/ and use Pandas to scrape the table containing 
# facts about the planet including Diameter, Mass, etc. Use Pandas to convert the data to a HTML table string.
pd_url = "https://space-facts.com/mars"
tables = pd.read_html(pd_url)
mars_profile_t = tables[0]
mars_earth_t = tables[1]
mars_profile_t

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [48]:
mars_earth_t

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

## Mars Hemispheres

In [49]:
# Visit  USGS Astrogeology: https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars 
# to obtain hi-res images for each of Mars' hemispheres. Click links to find the full res image url 
# Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary w the image url string and hemisphere title to a list, containing
# one dictionary for each hemisphere.

mars_hemisphere_images = [
    {"title": "Cerberus Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    
    {"title": "Schiaparelli Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    
    {"title": "Syrtis Major Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
    
    {"title": "Valles Marineris Hemisphere",
     "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"}
]

pp = pprint.PrettyPrinter(indent=2)
pp.pprint(mars_hemisphere_images)

[ { 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
    'title': 'Cerberus Hemisphere'},
  { 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
    'title': 'Schiaparelli Hemisphere'},
  { 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
    'title': 'Syrtis Major Hemisphere'},
  { 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
    'title': 'Valles Marineris Hemisphere'}]

## MongoDB and Flask Application

In [50]:
# Use MongoDB w Flask templating to create a new HTML page displaying all of the info scraped from the URLs above.

# Convert your Jupyter NB into a Python script called 'scrape_mars.py' using a function called 'scrape' that 
# executes all of your scraping code above and returns a Python dictionary containing all scraped data.

# Next, create a route called '/scrape' to import your 'scrape_mars.py' script and call your 'scrape' function.
    # Store the return value in Mongo as a Python dictionary.

# Create a root route / that will query your Mongo db and pass the mars data into an HTML template for display

# Create a template called index.html that will display the mars data dictionary data in the appropriate HTML elements.
# See 'images' for design reference.

## Step 3 - Submission

In [51]:
# Upload to the repository: Jupyter NB containing the scraping code used and Screenshots of your final application.

## Hints

In [52]:
# Use Splinter to navigate the sites when needed and BeautifulSoup to help find and parse out the necessary data.

# Use Pymongo for CRUD applications for your database. For this homework, you can simply overwrite the existing 
# document each time the /scrape url is visited and new data is obtained.

# Use Bootstrap to structure your HTML template.